<th:block th:fragment="content">
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                    <li class="nav-item dropdown no-arrow d-sm-none">
                        <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-search fa-fw"></i>
                        </a>
                        <!-- Dropdown - Messages -->
                        <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                             aria-labelledby="searchDropdown">
                            <form class="form-inline mr-auto w-100 navbar-search">
                                <div class="input-group">
                                    <input type="text" class="form-control bg-light border-0 small"
                                           placeholder="Search for..." aria-label="Search"
                                           aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="button">
                                            <i class="fas fa-search fa-sm"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome ${user.userName}</span>
                            <img class="img-profile rounded-circle"
                                 src="/user/admin/assets/undraw_profile_2.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="/shopping?action=profile">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Cart</h1>
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <!-- Earnings (Monthly) Card Example -->
                    <!-- Earnings (Monthly) Card Example -->
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <div class="card-header py-3" style="display: flex; justify-content: space-between">
                <h6 class="m-0 font-weight-bold text-primary">Cart</h6>
            </div>
            <form method="post" id="cartForm">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <tr>
                                <th></th>
                                <th hidden></th>
                                <th>Product</th>
                                <th hidden></th>
                                <th></th>
                                <th>Price (USD)</th>
                                <th>Quantity</th>
                                <th>Total value (USD)</th>
                                <th>Action</th>
                            </tr>
                            <c:set var="hasCartDetail" value="false"/>
                            <c:forEach var="cartDetail" items="${cart.cartDetails}">
                                <tr>
                                    <td><input type="checkbox" name="cartDetailID" value="${cartDetail.id}"
                                               class="myCheckBox">
                                    </td>
                                    <td hidden><input type="hidden" name="cartChecked" value="${cartDetail.checked}">
                                    </td>
                                    <td>${cartDetail.product.productName}</td>
                                    <td hidden><input type="hidden" value="${cartDetail.id}" name="cDetailID"></td>
                                    <td><img src="/images${cartDetail.product.image}" style="width: 145px;height: 90px"></td>
                                    <td>${cartDetail.product.price}</td>
                                    <td><input type="number" value="${cartDetail.quantity}" min="1"
                                               max="${cartDetail.product.quantity}"
                                               id="myInput" onblur="adjustValue()" name="quantities"
                                               oninput="updateTotalAmount(${cartDetail.product.price}, this.value,${cartDetail.id})"
                                    ></td>
                                    <td id="totalAmount_${cartDetail.id}">${cartDetail.totalAmount}</td>
                                    <td>
                                        <a href="/cart?action=deleteCD&id=${cartDetail.id}&idu=${user.id}"
                                           class="btn btn-danger ">Delete</a>
                                    </td>
                                </tr>
                                <c:set var="hasCartDetail" value="true"/>
                            </c:forEach>
                            <c:if test="${hasCartDetail}">
                                <tr>
                                    <td><input hidden type="checkbox" id="selectAllCheckbox"> <!-- Checkbox to select all -->
                                    </td>
                                    <td hidden></td>
                                    <td></td>
                                    <td hidden></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td id="total_amount_chosen"></td>
                                    <td></td>
                                </tr>
                            </c:if>
                        </table>
                        <div>
                            <a class="btn btn-danger" onclick="setAction('/cart?action=delete')">Delete</a>
                            <a class="btn btn-primary" onclick="setAction('/cart?action=buy')">Buy product</a>
                            <a onclick="setActionCancel('/cart?action=updateCart')" class="btn btn-primary">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>---------  Website Design by Huy - Long - Thắng Team  ---------</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
</th:block>