<th:block th:fragment="modalUnBan">
    <div class="modal fade" id="modalUnBan" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Modal UnBan</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="area-error hide">
                    </div>
                    <div class="row mb-3 mt-3">
                        <div class="col-lg-4">
                            <label for="productNameUnBan" class="form-label">Product name</label>
                            <input type="text" class="form-control" id="productNameUnBan" name="productNameUnBan" disabled >
                        </div>
                        <div class="col-lg-4">
                            <label for="priceUnBan" class="form-label">Price</label>
                            <input type="number" class="form-control" id="priceUnBan" name="priceUnBan" disabled>
                        </div>
                        <div class="col-lg-4">
                            <label for="branchUnBan" class="form-label">Branch</label>
                            <input type="text" class="form-control" id="branchUnBan" name="branchUnBan" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-3">
                            <label for="warrantyUnBan" class="form-label">Warranty Period</label>
                            <input type="text" class="form-control" id="warrantyUnBan" name="warrantyUnBan" disabled >
                        </div>
                        <div class="col-lg-3">
                            <label for="ramUnBan" class="form-label">Ram</label>
                            <input type="text" class="form-control" id="ramUnBan" name="ramUnBan" disabled>
                        </div>
                        <div class="col-lg-3">
                            <label for="sizeUnBan" class="form-label">Size</label>
                            <input type="text" class="form-control" id="sizeUnBan"  name="sizeUnBan" disabled>
                        </div>
                        <div class="col-lg-3">
                            <label for="colorUnBan" class="form-label">Color</label>
                            <input type="text" class="form-control" id="colorUnBan" name="colorUnBan" disabled>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <label for="cameraUnBan" class="form-label">Camera</label>
                            <input type="text" class="form-control" id="cameraUnBan" name="cameraUnBan" disabled >
                        </div>
                        <div class="col-lg-4">
                            <label for="operatingUnBan" class="form-label">Operating System</label>
                            <input type="text" class="form-control" id="operatingUnBan" name="operatingUnBan" disabled >
                        </div>
                        <div class="col-lg-4">
                            <label for="pinUnBan" class="form-label">Pin</label>
                            <input type="text" class="form-control" id="pinUnBan"  name="pinUnBan" disabled>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-outline-success" id="btnUnBan">
                        <i class="fas fa-ban"></i>
                        UnBan
                    </button>
                </div>
            </div>
        </div>
    </div>
</th:block>